<html>
    <head>
        <title>
            Wow Nice Table 
        </title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/ASN2.css"/>
    </head>
    <body>
        <main>
            <h1>Wow Nice Table</h1>
            <p class="p1">
                Give grades to the numeric activities
            </p>
            <div class="pic1">
                <input type="image" id="ShowUsers" src="ADD ACTIVITY.png" value="add" alt="Submit" onclick="ShowUsr()" width="100" height="48"/>
            </div>
            <section class="sec1">
                <span id="percen"></span>
            </section>
        </main>
    </body>
    <script src="ASN2.js"></script>
</html>